*{
    margin:0;
    padding:0;
}
body{
    background:url(images/background.jpeg);
    background-position:center;
    background-repeat:repeat;
    
}
.flex-container{
    display:flex;
    flex-wrap:wrap;
}
.flex-container > div{
    background-color:cyan;
    width:40%;
    margin:25px;
    margin-top:35px;
    margin-left:85px;
    text-align:center;
    font-size:22px;
    line-height:65px;
}
h1{
    border:5px solid yellow;
    text-align:center;
    padding:15px;
    color:white;
    background-color:chartreuse;
    font-size:33px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    font-size:28px;
    color:red;
}
h2{
    width:180px;
    height:80px;
    border:1px;
    background-color:coral;
    text-align:center;
    justify-content:center;
    margin-left:30%;
    margin-top:5px;
    margin-bottom:5px;
    border-radius:25px;
}
img{
    border:5px solid orangered;
    opacity:0.5;
}
img:hover{
    opacity:1;
}
.nav{
    display:flex;
    margin-left:5%;
    margin-top:55px;
    justify-content:space-evenly;
}
.nav a{
    font-size:28px;
    justify-content:space-around;
    color:white;
    font-weight:bold;
}
.nav a:link{
    color:white;
}
.nav a:visited{
    color:darkgreen;
}
.nav a:hover{
    color:deeppink;
}
.nav a:active{
    color:lightskyblue;
}